<div
  class="card"
  style="width: 18rem"
  [appHighlightUrgent]="dueDate"
  [checkTask]="status"
>
  <div class="card-body">
    <h5 class="card-title">
      Task Title : <span class="tasktitle"> {{ taskName }} </span>
    </h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">
      Due date:
      <span class="tasktitle"> {{ dueDate | date }} </span>
    </h6>
    <p class="card-text">
      Status : <span class="tasktitle"> {{ status }} </span>
    </p>
    @if (status === 'pending') {
    <button class="btn btn-primary" (click)="createCard()">
      Mark as completed
    </button>
    }
  </div>
</div>
